*{
	padding: 0;
	margin: 0;
}

#youAnoyMe{
	padding: 10px;
	margin: 5px;
}

#gidetext{
	padding: 10px;
	position: absolute;
	top: 80px;
	right: 500px;
	width: 100px;
	height: 50px;
	border: 3px solid;
}


#game{
	width: 500px;
	height: 300px;
	border: 2px solid black;
}

#character{
	width: 20px;
	height: 40px;
	background-color: blue;
	position: relative;
	top: 260px;
	animation: jump 1s infinite;
}

#block{
	width: 30px;
	height: 30px;
	background-color: red;
	position: relative;
	top: 230px;
	left: 470px;
	animation: block 1s infinite;
}

@keyframes block{
	0%{left: 480px;}
	100%{left: -40px;}
}

@keyframes jump{
	0%{top: 260px;}
	30%{top: 150px;}
	70%{top: 150px;}
	100%{top: 260px;}
}

.animate{
	animation: jump 500ms;
}
